.banner-content h1 {
  font-size: 64px;
}

.banner-content {
  text-align: center;
}

section.banner-section {
  padding-top: 160px;
  padding-bottom: 50px;
  position: relative;
  z-index: 1;
}

section.brand-section {
  margin-top: 140px;
}

.banner-shape1 {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: -1;
}

.banner-shape-right {
  position: absolute;
  right: 0;
  top: -5%;
  z-index: -1;
}