.header-area {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}

.header-area nav {
  background-color: transparent!important;
}

.navbar-nav a {
  color: #fff;
  font-size: 18px;
  margin: 0 35px;
}